<div class="bg-register">
	<!--wrapper-->
	<div class="wrapper">
		<div class="d-flex align-items-center justify-content-center my-lg-0 py-5">
			<div class="container">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
					<div class="col mx-auto">
						<div class="card rounded-4">
							<div class="card-body">
								<div class="border p-4  rounded-4">
									  <div class="text-center">
										<img src="assets/images/logo-icon.png" width="70" alt="" />
										<h5 class="mt-3 mb-0">Welcome</h5>
										<p class="mb-4">Create Your New Account</p>
									  </div>

									<div class="form-body">
										<form class="row g-3" [formGroup]="SignupForm">
											<div class="col-sm-6">
												<label for="inputFirstName" class="form-label">First Name</label>
												<input type="text" formControlName="fname"  class="form-control rounded-5" id="inputFirstName" placeholder="Jhon" [ngClass]="{'is-invalid': SignupForm.controls['fname'].errors && CheckForm}"  />
											        <small class="text-danger" *ngIf="SignupForm.controls['fname'].errors && CheckForm">Insert your First name</small>
											</div>
											<div class="col-sm-6">
												<label for="inputLastName" class="form-label">Last Name</label>
												<input type="text" formControlName="lname" class="form-control rounded-5" id="inputLastName" placeholder="Doe" [ngClass]="{'is-invalid': SignupForm.controls['lname'].errors && CheckForm}" >
												<small class="text-danger" *ngIf="SignupForm.controls['lname'].errors && CheckForm">Insert your Last name</small>
											</div>
											<div class="col-12">
												<label for="inputEmailAddress" class="form-label">Email Address</label>
												<input type="email" formControlName="email" class="form-control rounded-5" id="inputEmailAddress" placeholder="example@user.com" [ngClass]="{'is-invalid': SignupForm.controls['email'].errors && CheckForm}" />
												<small class="text-danger" *ngIf="SignupForm.controls['email'].errors && CheckForm">Insert your Email</small>
											</div>
											<div class="col-12">
												<label for="inputChoosePassword" class="form-label">Password</label>
												<div class="input-group" id="show_hide_password">
													<input type="{{sh}}" formControlName="password" class="form-control rounded-5" id="inputChoosePassword" placeholder="Enter Password" [ngClass]="{'is-invalid': SignupForm.controls['password'].errors && CheckForm}" />
                          <button class="btn bg-primary" type="button" (click)="show()"> <img src="/assets/images/icons/{{p}}.svg" alt="{{p}}" /></button>

                        </div>
												<small class="text-danger" *ngIf="SignupForm.controls['password'].errors && CheckForm">Insert your Passworde</small>
											</div>
                      <!-- <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                      </div> -->
											<div class="col-12">
												<label for="inputChooseRe_Password" class="form-label">Re_Password</label>
												<div class="input-group" id="show_hide_password">
													<input type="{{sh}}" formControlName="re_password" class="form-control rounded-5" id="inputChooseRe_Password" placeholder="Enter RePassword" [ngClass]="{'is-invalid': SignupForm.controls['re_password'].errors && CheckForm}" />
												</div>
												<div class="text-danger" *ngIf="SignupForm.controls['re_password'].errors && CheckForm">
                          <small *ngIf="SignupForm.controls['re_password'].errors['required']">Insert your Re_password</small>
                          <small *ngIf="SignupForm.controls['re_password'].errors['passErr']">Password and Re-Password does not match</small>
                        </div>
											</div>
											<div class="col-12">
												<label for="inputSelectCountry" class="form-label">Country</label>
												<select class="form-select rounded-5" id="inputSelectCountry" aria-label="Default select example" formControlName="country" [ngClass]="{'is-invalid': SignupForm.controls['country'].errors && CheckForm}" >
													<option selected>India</option>
													<option value="1">United Kingdom</option>
													<option value="2">America</option>
													<option value="3">Dubai</option>
												</select>
												<small class="text-danger" *ngIf="SignupForm.controls['country'].errors && CheckForm">Select your Country</small>
											</div>
											<div class="col-12">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" formControlName="terms" />
													<label class="form-check-label" for="flexSwitchCheckChecked">I read and agree to Terms & Conditions</label>
												</div>
												<small class="text-danger" *ngIf="SignupForm.controls['terms'].errors && CheckForm">Must Agree Terms and Conditions</small>
												</div>
											<div class="col-12">
												<div class="d-grid">
													<button type="submit" class="btn btn-gradient-info text-light rounded-5" (click)="save()"><i class='bx bx-user'></i>Sign up</button>
												</div>
											</div>
											<div class="col-12">
												<div class="login-separater text-center"> <span>OR SIGN UP WITH EMAIL</span>
													<hr/>
												</div>
											</div>
											<div class="col-12">
												<div class="d-grid">
													<a class="btn mb-4 shadow-sm btn-white rounded-5" href="javascript:;"> <span class="d-flex justify-content-center align-items-center">
													<img class="me-2" src="assets/images/icons/search.svg" width="16" alt="Image Description">
													<span>Sign Up with Google</span>
														</span>
													</a>
													<a type="submit" href="javascript:;" class="btn shadow-sm btn-white rounded-5"><i class="bx bxl-facebook"></i>Sign Up with Facebook</a>
												</div>
											</div>
											<div class="col-12 text-center">
                                                <p class="mb-0">Already have an account? <a routerLink="/login">Sign in here</a></p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->
</div>
